 /* The design is adapted from: https: //www.w3schools.com/html/html_responsive.asp  */

 * {
     box-sizing: border-box;
 }

 .header {
     background-color: #F6F6F7;
     text-align: end;
     padding-right: 13%;
 }


 .left {
     float: left;
     width: 40%;
     padding-left: 10%;
     padding-top: 40px;
     margin-top: 7px;
 }

 .right {
     float: left;
     width: 50%;
     padding: 15px;
     margin-top: 7px;
     text-align: left;
 }

 .greytext {
     color: #888888;
 }

 .blacktext {
     color: #222222;
 }

 .price {
     font-weight: bold;
     font-size: small;
     color: #222222;

 }

 #size-selector-unselected {
     width: 30px;
     height: 30px;
     border: 1px solid #CCCCCC;
     padding: 5px;
     margin-right: 10px;
     text-align: center;
     cursor: pointer;
 }

 #size-selector-selected {
     background-color: #222222;
     color: #888888;
     width: 30px;
     height: 30px;
     border: 1px solid #CCCCCC;
     padding: 5px;
     margin-right: 10px;
     text-align: center;
     cursor: pointer;
 }

 .button-mouse-away {
     border: 2px solid #222222;
     width: 150px;
     height: 50px;
     font-weight: bolder;
     color: #222222;
     background-color: white;
     cursor: pointer;

 }

 .button-mouse-on {
     border: 2px solid #222222;
     width: 150px;
     height: 50px;
     font-weight: bolder;
     color: #888888;
     background-color: #222222;
     cursor: pointer;

 }

 .dropdown {
     position: relative;
     display: inline-block;
 }

 .btn-dropdown {
     cursor: pointer;
     font-size: small;
 }

 .cart {
     display: none;
     position: absolute;
 }

 @media only screen and (max-width: 620px) {

     /* For mobile phones: */
     .menu,
     .header,
     .left {
         height: 100%;
         width: 100%;
     }

     .right {
         width: 100%;
     }
 }